---
import { getCollection } from "astro:content"
import ProjectListing from "./ProjectListing.astro"
const {item, posts} = Astro.props

---
<div class="text-center bg-blue text-white d-flex flex-column justify-content-center align-items-center">
    <h4 class="text-white">{item.label}</h4>
    <div class="grid grid-cols-1 xl:grid-cols-5 gap-10 px-3 py-3">
    {posts && posts.map((post: {data: {project: {title: string, logo: string}}}) => (
        <ProjectListing post={post}/>
    ))}
    </div>
</div>