---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { post } = Astro.props;
const logoUrl = post.data.project.logo;
---

<div class="flex flex-col items-center gap-2">
  <a href={`projects/${post.slug}`}>
    <div
      class="rounded-full h-52 w-52 bg-white flex items-center justify-center"
    >
      {
        logoUrl ? (
          <Image
            src={logoUrl}
            alt={`Logo for ${post.data.project.title}`}
            height={100}
            width={100}
          />
        ) : (
          <h1>no logo</h1>
        )
      }
    </div>
    <p class="text-xl mt-0">{post.data.project.title}</p>
  </a>
</div>
