---
import { Image, getImage } from "astro:assets";
import { getEntry } from "astro:content";

import logo from "@/assets/images/linaro-logo-white.svg";

const heroData = await getEntry("data", "hero");
---

<>
  <section
    class:list={[
      heroData.data.style,
      "hero-background"
    ]}
  >
    <Image src={logo} alt={heroData.data.inner_image.alt} class="w-64" />
    <h1 class="text-inherit text-4xl">{heroData.data.title}</h1>
  </section>
  <style
  >
    .hero-background {
      background-image: url(../../src/assets/images/hero-background.png);
      background-color: linear-gradient(102deg, #FFCE00 -0.43%, #6715E8 95.75%);
      background-position: center;
      object-fit: cover;
      border-bottom: 10px solid #ffce00;
    }
  </style>
</>
