---
import { getEntry } from "astro:content";
import Categories from "../projects/Categories.astro";
import { getCollection } from "astro:content";

const { data: categories } = await getEntry("data", "categories");
const projects = await getCollection("projects");

const postsByCategory = {
  os: projects.filter((post) => post.data.category === "os"),
  middleware: projects.filter((post) => post.data.category === "middleware"),
  libraries: projects.filter((post) => post.data.category === "libraries"),
  bigdata: projects.filter((post) => post.data.category === "bigdata"),
  web: projects.filter((post) => post.data.category === "web"),
  hpc: projects.filter((post) => post.data.category === "hpc"),
  ai: projects.filter((post) => post.data.category === "ai"),
  cloud: projects.filter((post) => post.data.category === "cloud"),
  database: projects.filter((post) => post.data.category === "database"),
  storage: projects.filter((post) => post.data.category === "storage"),
};
---

<div class="flex gap-4 justify-self-center w-full">
  <div class="w-full">
    {
      categories.map((item: { name: string; label: string }) => (
        <Categories
          item={item}
          posts={postsByCategory[item.name as keyof typeof postsByCategory]}
        />
      ))
    }
  </div>
</div>
